<nav>
    <ul>
        <li class='logo'><a href='#'>&nbsp;
        </a></li><li class='flo-l'><a href='javascript:void(0)'>
            <span class='hamburger'></span>
            <span class='title'>Menu</span>
        </a></li><li class='flo-r'><a href='javascript:void(0)'>
            <span class='title'>Login</span>
            <span class='fa fa-user-secret' style='font-size:1.25rem'>&nbsp;</span>
        </a></li><li class='flo-r searchbar'><a href='javascript:void(0)'>
            <input type='text' class='autocomplete' id='txtSearch' data-source='Shows' value='' onchange="this.setAttribute('value', this.value);" />
            <label for='txtSearch' class='search'>Search</label>
            <ul class='autocompleteresults'></ul>
        </a></li>
    </ul>
</nav>